header{
    z-index: 100001 !important;
}

.outlineBtn{
    @apply px-4 py-2 bg-transparent border border-primary text-primary rounded hover:bg-primary hover:text-white transition-all duration-300
}

.btnPrimary{
    @apply bg-primary px-8 py-4 hover:bg-body transition-all duration-300 hover:translate-y-4 text-white text-xl rounded-md
}

.skillcard:nth-child(1){
    border-bottom: 4px solid #5E3BEE;
}